---
import type { TranslationProps } from "@Lib/types/translationTypeProps";

const { t } = Astro.props as TranslationProps;

const { title, image, description, price, slug, locale } = Astro.props;
const details = t("catalog").details;
---

<section
  class="group w-72 bg-black border border-yellow-300/40 rounded-xl overflow-hidden flex flex-col mx-auto"
>
  <!-- imagen -->
  <img
    src={image}
    alt="perfume image"
    class="w-full h-72 object-cover transition-transform duration-500 group-hover:scale-120"
  />

  <!-- contenido -->
  <article class="flex flex-col gap-6 p-6">
    <!-- texto (titulo y descripcion) -->
    <div class="flex flex-col gap-2 font-raleway text-white">
      <span class="text-2xl font-semibold">{title}</span>

      <p class="text-gray-400 text-sm leading-relaxed">
        {description}
      </p>
    </div>

    <!-- precio y boton -->
    <div class="flex items-center justify-between">
      <span class="text-primary text-sm font-semibold">
        {price}
      </span>

      <a
        href={`/${locale}/${slug}`}
        class="text-primary text-sm font-semibold border-b border-primary pb-1 hover:opacity-80 transition cursor-pointer"
      >
        {details}
      </a>
    </div>
  </article>
</section>
