---
import type { TranslationProps } from "@Lib/types/translationTypeProps";
import SocialIcon from "@Components/islands/SocialIcon.astro";

const { t } = Astro.props as TranslationProps;

const socialMedia = [
  {
    url: "https://www.facebook.com/profile.php?id=61584373711977",
    name: "Facebook",
    src: "/resources/hero/facebook.svg",
    alt: "Facebook icon",
  },
  {
    url: "https://www.instagram.com/lafragancia_jm/",
    name: "Instagram",
    src: "/resources/hero/instagram.svg",
    alt: "Instagram icon",
  },
  {
    url: "https://wa.me/573233375315?text=Hola%20quiero%20informaci%C3%B3n%20sobre%20sus%20servicios",
    name: "WhatsApp",
    src: "/resources/hero/whatsapp.svg",
    alt: "WhatsApp icon",
  },
  {
    url: "mailto:jorgeospinom202@gmail.com?subject=Consulta%20perfumes&body=Hola%20quiero%20información",
    name: "Gmail",
    src: "/resources/hero/gmail.svg",
    alt: "Gmail icon",
  },
];

const phrases = t("hero").phrases;
const cte = t("hero").cte;
---

<section
  id="home"
  class="w-full h-dvh relative flex flex-row justify-between items-center overflow-hidden pb-24 md:pb-0"
>
  <!-- imagen de fondo -->
  <div class="absolute inset-0 flex justify-center items-center">
    <img
      src="/resources/hero/client-images/hero-client-without-bg.png"
      alt="client image"
      class="w-135 h-auto object-contain brightness-110 contrast-110 mask-b-from-10% mask-b-to-97%"
    />
    <div
      class="absolute inset-0 bg-linear-to-t from-black via-black/10 to-transparent"
    >
    </div>
    <div
      class="absolute inset-0 bg-linear-to-r from-black via-black/10 to-transparent"
    >
    </div>
  </div>

  <article
    class="relative flex flex-col justify-end items-center w-full h-full md:items-end md:justify-center md:absolute md:inset-0"
  >
    <!-- Sección título, frases y botón -->
    <section
      class="flex flex-col items-center text-center md:max-w-md md:px-4 md:mr-12"
    >
      <h1
        class="hidden text-secondary font-betania text-6xl leading-[0.9] md:text-8xl font-semibold drop-shadow-lg md:block"
      >
        La <br /> Fragancia <br /> JM
      </h1>

      <div class="flex flex-col gap-3 mt-6 text-white font-raleway">
        {
          phrases.map((phrase, index) => (
            <span
              class={`font-semibold ${
                index === 0
                  ? "text-neutral-200 text-sm md:text-lg"
                  : "text-neutral-300 text-sm md:text-base"
              }`}
            >
              {phrase}
            </span>
          ))
        }

        <a
          class="mt-8 px-8 py-3 rounded-xl bg-secondary text-black font-semibold shadow-lg hover:scale-105 transition"
          href="#collection"
        >
          {cte}
        </a>
      </div>
    </section>
  </article>

  <!-- Sidebar de redes sociales -->
  <section
    class="absolute bottom-6 left-1/2 -translate-x-1/2 flex flex-row gap-4 md:fixed md:top-1/2 md:left-5 md:-translate-y-1/2 md:flex-col md:gap-6 z-40"
  >
    {
      socialMedia.map(({ url, name, src, alt }) => (
        <SocialIcon url={url} name={name} src={src} alt={alt} />
      ))
    }
  </section>
</section>
